@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  text-decoration: 0;
  box-sizing: border-box;
  transition: all ease 0.2s;
  list-style-type: none;
}

/* Colors */

/* Primary */
:root {
  --lime-green: hsl(163, 72%, 41%);
  --bright-red: hsl(356, 69%, 56%);

  --facebook: hsl(208, 92%, 53%);
  --twitter: hsl(203, 89%, 53%);
  --instagram: linear-gradient(90deg, hsl(37, 97%, 70%), hsl(329, 70%, 58%));
  --youtube: hsl(348, 97%, 39%);

  /* Dark Theme */
  --dark-toggle: linear-gradient(90deg, hsl(210, 78%, 56%), hsl(146, 68%, 55%));

  /* Light Theme */
  --light-toggle: hsl(230, 22%, 74%);

  /* Neutral - Dark Theme */
  --dark-bg: hsl(230, 17%, 14%);
  --dark-top-bg-pattern: hsl(232, 19%, 15%);
  --dark-card-bg: hsl(228, 28%, 20%);
  --dark-desaturated-text: hsl(228, 34%, 66%);
  --white-text: hsl(0, 0%, 100%);

  /* Neutral - Light Theme */
  --light-bg: hsl(0, 0%, 100%);
  --light-top-bg-pattern: hsl(225, 100%, 98%);
  --light-card-bg: hsl(227, 47%, 96%);
  --light-dark-grayish-text: hsl(228, 12%, 44%);
  --light-very-dark-text: hsl(230, 17%, 14%);
}

img,
picture {
  max-width: 100%;
  display: block;
  line-height: 0;
}

/* Typography */
body {
  font-family: "Inter", sans-serif;
  font-weight: 400;
}

.main-div {
  padding: 2rem 5.5rem;
}

.main-card-light {
  @apply bg-lightCardBg text-lightVeryDarkText;
}

.main-card-light h1 {
  font-size: 3rem;
  font-weight: 700;
  color: var(--light-very-dark-text);
}

.followers {
  letter-spacing: 0.15rem;
}

/* Main Card Borders */
.gradient-border-top-ig {
  position: relative;
}

.gradient-border-top-ig::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 4px; /* Adjust the height to your desired border width */
  background: var(--instagram);
  z-index: 1; /* Ensure it appears above the main content */
  border-radius: 4px 4px 0 0;
}

.gradient-border-top-yt {
  position: relative;
}

.gradient-border-top-yt::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 4px; /* Adjust the height to your desired border width */
  background: var(--youtube);
  z-index: 1; /* Ensure it appears above the main content */
  border-radius: 4px 4px 0 0;
}

.gradient-border-top-tw {
  position: relative;
}

.gradient-border-top-tw::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 4px; /* Adjust the height to your desired border width */
  background: var(--twitter);
  z-index: 1; /* Ensure it appears above the main content */
  border-radius: 4px 4px 0 0;
}

.gradient-border-top-fb {
  position: relative;
}

.gradient-border-top-fb::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 4px; /* Adjust the height to your desired border width */
  background: var(--facebook);
  z-index: 1; /* Ensure it appears above the main content */
  border-radius: 4px 4px 0 0;
}


/* Toggle Button Styles */
.toggle-container {
  width: 50px;
  height: 25px;
  background: var(--dark-toggle);
  border-radius: 25px;
  position: relative;
  cursor: pointer;
  transition: 0.3s ease;
  padding: 0.5rem;
}

.toggle-container.toggled {
  background: var(--light-toggle); /* Lime Green */
}

.toggle-button {
  width: 23px;
  height: 23px;
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  top: 1px;
  left: 1px;
  transition: transform 0.3s;
}

.toggle-container.toggled .toggle-button {
  transform: translateX(25px);
}
